* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    margin: 0;

}

a {
    color: rgb(51, 51, 51);
    text-decoration: none;
}

.header {
    display: flex;
    min-height: 76px;
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    margin-left: 100px;
}

.header__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin: 30px 164px 30px 51px;
    gap: 30px;
}

.header__link {
    font-size: 16px;
    color: black;
    opacity: 0.8;
    text-decoration: none;
    text-wrap: nowrap;
    font-family: "Montserrat-Regular", "sans-serif";
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.header__link:hover {
    color: #16C8BB;
    font-family: "Montserrat-Regular", "sans-serif";
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.header__btn {
    font-weight: bold;
    margin-right: 100px;
    border: none;
    border-radius: 4px;
    width: 230px;
    min-height: 48px;
    background-color: #E3F5F5;
    color: #03B2A5;
    cursor: pointer;
    font-family: "Montserrat-Regular", "sans-serif";
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.header__btn:hover {
    background-color: white;
    color: rgb(51, 51, 51);
    border: 1px solid rgb(51, 51, 51);
    font-family: "Montserrat-Regular", "sans-serif";
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.main__nav {
    margin: 0;
}

.main__nav_list {
    display: flex;
    gap: 8px;
    margin: 16px 0 30px 60px;
    text-decoration: none;
    list-style: none;
}

.main__nav_item {
    margin: 0;
    font-size: 12px;
}

.main__nav_link:hover {
    color: #16C8BB;
}

.materials {
    display: flex;
    flex-direction: column;
}

.materials__title {
    font-size: 56px;
    margin-left: 100px;
    margin-top: 32px;
}

.materials__list {
    min-height: 32px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-left: 60px;

}

.materials__items {
    font-weight: 600;
    padding: 6px 8px 6px 6px;
    border: 1px solid #C1C5CD;
    border-radius: 24px;
    font-size: 14px;
    line-height: 20px;
}

.materials__items:hover {
    border: 1px solid #16C8BB;
}

.materials__items_selected {
    font-weight: 600;
    border: 2px solid #16C8BB;
    border-radius: 24px;
    padding: 6px 8px 6px 8px;
}


.hero {
    margin-top: 24px;
    border-radius: 16px;
    display: flex;
    height: 530px;
    width: 50%;
    max-width: 588px;
    justify-content: stretch;
    margin-left: 60px;
    margin-right: 60px;
    gap: 24px;
}

.hero__info_block {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-content: stretch;
    border-radius: 16px;
    margin: 0;
    padding: 0;
    width: 590px;
    height: 500px;
    background-color: #ffffff;
    padding: 16px;
    border: 1px solid #dedede;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.hero__img {
    width: 588px;
    position: relative;
    right: 18px;
    bottom: 18px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.hero__heading {
    font-size: 18px;
}

.hero__wrap {
    font-family: 'Montserrat';
    box-sizing: border-box;
    margin: 0;
    padding: 0 6px 91px 26px;
}

.hero__author {
    font-weight: 200;
    font-size: 12px;
    color: #494949;
}

.hero__data {
    font-weight: 200;
    color: #868686;
    position: relative;
    top: 60px;
    right: 20px;
}

.hero__data1 {
    font-weight: 200;
    color: #868686;
    position: relative;
    top: 40px;
    right: 20px;
}

.layer1 {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 4px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #c1c5cd;
    border-radius: 24px;
    font-family: "Montserrat-SemiBold", "sans-serif";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    width: 220px;
    height: 32px;
    z-index: 2;

}

.layer1a {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 4px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #c1c5cd;
    border-radius: 24px;
    font-family: "Montserrat-SemiBold", "sans-serif";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    width: 67px;
    height: 32px;
    z-index: 2;
    margin-top: 35px;
}

.layer2 {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 4px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #c1c5cd;
    border-radius: 24px;
    font-family: "Montserrat-SemiBold", "sans-serif";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    width: 67px;
    height: 32px;
    z-index: 2;
}

.layer3 {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 4px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #c1c5cd;
    border-radius: 24px;
    font-family: "Montserrat-SemiBold", "sans-serif";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    width: 170px;
    height: 32px;
    z-index: 2;
    margin-top: 35px;
}

.cards {
    width: 1200px;
}

.card__top {
    margin-top: 24px;
    border-radius: 16px;
    display: flex;
    height: 580px;
    width: 50%;
    max-width: 384px;
    justify-content: stretch;
    margin-left: 60px;
    margin-right: 60px;
    gap: 24px;
}

.card__info_block {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-content: stretch;
    border-radius: 16px;
    margin: 0;
    padding: 0;
    width: 384px;
    height: 550px;
    background-color: #ffffff;
    padding: 16px;
    border: 1px solid #dedede;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.card__img {
    width: 384px;
    position: relative;
    right: 33px;
    bottom: 17px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.card__wrap {
    font-family: 'Montserrat';
    box-sizing: border-box;
    margin: 0;
    padding: 0 16px 52px 16px;
}

.card__heading {
    font-size: 18px;
}

.card__author {
    font-weight: 200;
    font-size: 12px;
    color: #494949;
}

.card__data {
    font-size: 14px;
    font-weight: 200;
    color: #868686;
    position: relative;
    top: 70px;
    right: 20px;
}

.card__data1 {
    font-size: 14px;
    font-weight: 200;
    color: #868686;
    position: relative;
    top: 80px;
    right: 20px;
}

.card__data2 {
    font-size: 14px;
    font-weight: 200;
    color: #868686;
    position: relative;
    top: 100px;
    right: 20px;
}

.card__bot {
    margin-top: 24px;
    border-radius: 16px;
    display: flex;
    height: 580px;
    width: 50%;
    max-width: 384px;
    justify-content: stretch;
    margin-left: 60px;
    margin-right: 60px;
    gap: 24px;
    margin-bottom: 20px;
}

.card__text {
    font-weight: 400;
    font-size: 14px;
}

.btn__main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 56px;
    position: relative;
    margin-bottom: 96px;
}

.main__btn {
    cursor: pointer;
    width: 182px;
    height: 48px;
    border: 0;
    color: #ffffff;
    border-radius: 4px;
    background-color: #35b3a9;
    font-family: "Montserrat-Bold", "sans-serif";
    font-size: 16px;
    font-weight: 700;
}

.main__btn:hover {
    border: 1px solid #03B2A5;
    color: #03B2A5;
    background-color: white;
}

.background {
    position: absolute;
    top: 401px;
    left: 0;
    width: 100%;
    z-index: -2;
}

.footer {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    height: 316px;
    width: 100%;
    background-color: #2963a3;
    justify-content: center;
    align-items: center;
}

.footer-container {
    width: 1200px;
    height: 100%;
}

.footer_block-upper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 208px;
    justify-content: space-between;
    border-bottom: 1px solid #9d9d9d;
    margin-top: 40px;

}

.footer_block-lower {
    display: flex;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 18px;
    opacity: 0.7;
}

.link {
    display: grid;
    width: 310px;
    height: 184px;
    grid-gap: 93px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "z y";
    margin-right: 91.5px;
}

.footer_block-upper-first {
    grid-area: z;
    display: flex;
    margin: 0;
    padding: 0;
}

.footer_block-upper-second {
    grid-area: y;
    display: flex;
    margin: 0;
    padding: 0;
}

ul.vertical-list1 a {
    color: #ffffff;
    font-family: "Montserrat-Bold", "sans-serif";
    font-size: 16px;
    font-weight: 700;
}

ul.vertical-list2 a {
    color: #ffffff;
    font-family: "Montserrat-Bold", "sans-serif";
    font-size: 16px;
    font-weight: 700;
}

.vertical-list1 {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 111px;
    height: 184px;
    line-height: 26px;
}

.vertical-list2 {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 106px;
    height: 184px;
    line-height: 26px;
}

.footer_block-upper-third {
    width: 486px;
    height: 170px;
    margin-right: 98px;
}

.footer_subscription {
    display: flex;
    width: 486px;
    height: 170px;
    flex-direction: column;
    justify-content: space-between;
}

.footer_subscription-text {
    font-family: "Montserrat-Bold", "sans-serif";
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.input-btn {
    background-color: #ffffff;
    width: 384px;
    height: 48px;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    position: absolute;
}

.btn {
    position: relative;
    z-index: 1;
    left: 384px;
    width: 64px;
    height: 48px;
}

::placeholder {
    font-family: "Montserrat-Regular", "sans-serif";
    font-size: 14px;
    font-weight: 400;
    padding-left: 16px;
}

.footer_accord {
    font-family: "Montserrat-Regular", "sans-serif";
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    width: 486px;
    height: 54px;
    opacity: 0.7;
}

.footer_block-upper-fourth {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.sklogo-partner {
    display: flex;
    justify-content: space-between;
}

.emblems {
    display: flex;
    justify-content: space-between;
    width: 176px;
}

.youtalk a {
    color: #ffffff;
    font-family: "Montserrat-Regular", "sans-serif";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.youtalk {
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat-Regular", "sans-serif";
    gap: 53px;
}

.sklogo {
    width: 100px;
    margin-right: 20px;
}

.header__hamburger_menu {
    display: none;
    width: 40px;
    height: 40px;
    margin: -8px;
    background-color: #fff;
    position: relative;
}

.header__hamburger_menu::after {
    content: "";
    width: 18px;
    height: 2px;
    background-color: #03b2a5;
    border-radius: 1px;
    position: absolute;
    top: 13px;
    left: 11px;
    bottom: 18px;
    box-shadow: 0 6px 0 0 #03b2a5, 0 12px 0 0 #03b2a5;
}

@media (max-width: 1024px) {
    body {
        font-family: 'Montserrat';
    }

    .header {
        display: flex;
        min-height: 76px;
        width: 960px;
        margin-left: 0;
        margin-right: 0;
        align-items: center;
        justify-content: space-between;
    }

    .header__btn {
        position: relative;
        right: 130px;
    }

    .materials {
        display: flex;
        flex-direction: column;
        width: 1024px;
    }

    .materials__title {
        font-size: 50px;
    }

    .materials__list {
        min-height: 72px;
        list-style: none;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        flex-wrap: wrap;
    }

    .materials__link {
        line-height: 40px;
    }

    .hero {
        max-width: 468px;
    }

    .hero__img {
        width: 468px;
    }

    .card__top {
        max-width: 304px;
    }

    .card__bot {
        max-width: 304px;
    }

    .card__img {
        width: 304px;
    }

    .card__data {
        position: relative;
        bottom: 30px;
    }

    .footer-container {
        width: 1024px;
        height: 100%;
    }

    .link {
        width: 247px;
        grid-gap: 30px;
        margin-right: 21px;
    }

    .footer_block-upper-second {
        margin-right: 80px;
    }

    .footer_block-upper-third {
        width: 450px;
        height: 170px;
        margin-right: 21px;
        margin-left: 21px;
    }
}

@media (max-width: 768px) {
    body {
        font-family: 'Montserrat';
    }

    .header {
        width: 730px;
        height: 76px;
    }

    .header__nav {
        display: none;
    }

    .header__btn {
        display: none;
    }

    .header__hamburger_menu {
        display: flex;
        width: 40px;
        height: 40px;
        background-color: #fff;
        position: relative;
    }

    .header__hamburger_menu::after {
        content: "";
        width: 18px;
        height: 2px;
        background-color: #03b2a5;
        border-radius: 1px;
        position: absolute;
        top: 13px;
        left: 11px;
        box-shadow: 0 6px 0 0 #03b2a5, 0 12px 0 0 #03b2a5;
    }

    .materials__list {
        width: 678px;
    }

    .hero {
        display: flex;
        flex-direction: row;
        width: 728px;
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .hero__img {
        width: 728px;
    }

    .hero__info_block {
        width: 728px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .hero__wrap {
        width: 728px;
    }

    .cards {
        margin-top: 600px;
    }

    .card__img {
        width: 352px;
    }

    .card__top,
    .card__bot {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card__bot {
        position: relative;
        margin-left: 430px;
        bottom: 604px;
    }

    .card__info_block {
        width: 352px;
    }

    .btn__main {
        position: relative;
        top: 580px;
    }

    .footer {
        margin-top: 620px;
        height: 454px;
        width: 100%;
    }

    .footer-container {
        width: 728px;
        height: 454px;
    }

    .footer_block-upper {
        flex-wrap: wrap;
        margin-top: 35px;
        height: 359px;
        align-content: flex-start;
    }

    .footer_block-upper-third {
        width: 450px;
        height: 170px;
        margin-right: 0;
    }

    .footer_subscription {
        width: 450px;
    }

    .footer_subscription-text {
        width: 450px;
    }

    .footer_accord {
        width: 450px;
    }

    .footer_block-upper-fourth {
        width: 221px;
        height: 122px;
    }

    .link {
        width: 240px;
        margin-right: 31px;
        margin-bottom: 26px;
    }
}

@media (max-width: 430px) {
    body {
        position: relative;
        right: 40px;
        height: 3000px;
    }
    .header {
        width: 414px;
    }

    .header__nav {
        display: none;
    }

    .header__btn {
        display: none;
    }

    .header__logo {
        width: 48px;
        height: 34px;
    }

    .header__hamburger_menu {
        display: flex;
        width: 40px;
        height: 40px;
        background-color: #fff;
        position: relative;
        left: 20px;
    }

    .header__hamburger_menu::after {
        content: "";
        width: 18px;
        height: 2px;
        background-color: #03b2a5;
        border-radius: 1px;
        position: absolute;
        top: 13px;
        left: 11px;
        box-shadow: 0 6px 0 0 #03b2a5, 0 12px 0 0 #03b2a5;
    }

    .hidden {
        display: none;
    }

    .main__nav_item {
        font-size: 16px;
    }

    .main__nav_link {
        font-size: 16px;
    }

    .materials__list {
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 390px;
    }

    .materials__items {
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 16px;
    }

    .materials__items_selected {
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 16px;
    }

    .hero {
        flex-direction: row;
        width: 374px;
    }

    .hero__info_block {
        width: 390px;
        height: 90%;
    }

    .hero__img {
        width: 390px;
    }

    .hero__wrap {
        width: 380px;
    }

    .hero__heading {
        font-size: 18px;
        margin-right: 10px;
    }

    .hero__author {
        font-size: 12px;

    }

    .hero__wrap {
        font-size: 16px;
        margin-right: 5px;
    }

    .card__top {
        position: relative;
        bottom: 135px;
    }

    .card__top {
        width: 390px;
    }

    .card__info_block {
        width: 390px;
    }

    .card__img {
        width: 390px;
    }

    .card__wrap {
        width: 390px;
    }

    .btn__main {
        display: flex;
        position: absolute;
        z-index: 2;
        top: 2560px;
        left: 160px;
    }

    .footer {
        position: relative;
        left: 40px;
        bottom: 640px;
        height: 746px;
        width: 100%;
    }

    .footer-container {
        width: 374px;
        height: 746px;
    }

    .footer_block-upper {
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 35px;
        height: 552px;
        gap: 23px;
        padding-bottom: 20px;
    }

    .footer_block-lower {
        margin-top: 17px;
        margin-bottom: 38px;
    }

    .footer_block-upper-third {
        width: 374px;
        height: 200px;
        margin: 0;
        padding: 0;
    }

    .footer_subscription-text {
        width: 356px;
        height: 52px;
        margin-bottom: 8px;
    }

    .link {
        width: 374px;
        height: 184px;
        justify-content: space-between;
        margin-right: 0;
        margin-bottom: 0;
        grid-gap: 16px;
    }

    .footer_subscription {
        width: 374px;
        height: 200px;
        justify-content: flex-start;
    }

    .footer_input-button {
        margin-bottom: 12px;
    }

    .input-btn {
        background-color: #ffffff;
        width: 374px;
        height: 48px;
    }

    .btn {
        left: 312px;
    }

    .footer_accord {
        width: 374px;
        height: 72px;
    }

    .footer_block-upper-fourth {
        height: 102px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: 0;
        margin: 0;
    }

    .sklogo-partner {
        display: flex;
    }

    .emblems {
        display: flex;
        justify-content: space-between;
        width: 176px;
    }

    .youtalk {
        flex-direction: column;
        width: 189px;
        height: 100px;
        margin-top: 0;
        margin-bottom: 0;
        gap: 20px;
    }

    .youtalk a {
        color: #ffffff;
        font-family: "Montserrat-Regular", "sans-serif";
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
}